.nav-bar-container{
    display: flex ;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.48);
    align-items: center;

    
}

.branding{
       font-weight: 600;
       font-size: x-large;
}
.nav-links{
    display: flex;
    gap: 20px;
    padding-right: 50px;
    font-weight: 600;
}